.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.launch-buttons li {
  float: left;
  list-style: none;
  text-align: center;
  background-color: lightgreen;
  margin-right: 15px;
  padding: 2px 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 65px;
}
.launch-buttons li a {
  text-decoration: none;
  color: #000;
  display: block;
}

.launch-buttons li:hover {
  text-decoration: none;
  color: #000000;
  background-color: green;
  cursor: pointer;
}
.launch-buttons li.active {
  background-color: green;
}
.launch-buttons {
  padding: 0;
  float: left;
}
.launch-year {
  text-decoration: underline;
}
.sidebar-filters {
  text-align: left;
}
.side-bar-section {
  background: #dcdcdc;
}
.filters-section {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
}
.mission-image {
  max-width: 180px;
  padding:15px;
  background: #dcdcdc;
  border-radius: 5px
}
.child-section a, .child-section span {
  display: block;
  text-align: left;
}
.child-section{
  margin-bottom: 10px;
  padding: 0 5px;
}
.nopadding {
  padding: 0;
}
.inner-section {
  background: #fff;
  padding:15px;
  border-radius: 5px;
}
.paddingRight{
  padding-right: 0;
}
footer {
  padding: 10px 0;
}
.title-name {
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
    color:#006bb4;
    font-weight: 500;
}
.side-bar-section h4{
  font-weight: bold;
  text-align: left;
}
.inner-section span strong{
color:#000;
}
.inner-section span {
color:#006bb4;
}
.missionIds {
  height: 65px;
}
.sidebar-filters p {
    display: inline;
    color: #006bb4;
    font-weight: 500;
    float: right;
    cursor: pointer;
}
.sidebar-filters strong {
  display: inline;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: 75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 480px) {
 .launch-buttons li {
    float: none;
    max-width: 100px;
    margin: 10px auto;
  }
  .launch-buttons {
    float: none;
  }
}